* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#grids {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 10px;
    height: 575px;
    width: 575px;
}

#gridBox {
    border: 1px solid gray;
    background-color: white;
    user-select: none;
}

.button {
    display: flex;
    flex-direction: column;
    order: -1;
}

.colorpickercontainer {
    display: flex;
    justify-content: center;
}

#mycolor {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: none;
    background: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0; 
}

#mycolor::-webkit-color-swatch {
    border-radius: 50%;
    border: none
}

button {
    font-size: x-large;
    padding: 8px 28px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background: white;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    padding: 8px 28px;
    margin-top: 20px;
}

#myrange {
    -webkit-appearance: none;
    width: 135%;
    margin-top: 10px;
    height: 1rem;
    background: white;
    border-radius: .5rem;
}
  
#myrange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: -20px;
}

.footer{
    margin-top: 50px;
    font-size: x-large;
}