* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#grids {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

#gridBox {
    border: 1px solid gray;
    background-color: white;
    user-select: none;
}

.button {
    display: flex;
    flex-direction: column;
    order: -1;
}